<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Відмінювання числівників (пропис)
  </div>
</div>

<div class="row no-gutters translate-block margin-correct">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 word letter-word-block">
    <label class="end-word">Ціле число або дріб</label><br>
    <input type="text" placeholder="Введіть слово">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 word">
    <label class="end-word">Мова</label><br>
    <div class="selector-language bottom-width">
      <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
      <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
      <div class="list-of-languages" *ngIf="openSelector">
        <div *ngFor="let language of languages"
             [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
             (click)="defaultLanguage = language; openSelector = !openSelector">
          {{defaultLanguage === language ? '' : language}}</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 translate crossrord-btn">
    <button>Знайти</button>
  </div>
</div>

<!-- UKRAINIAN -->
<app-ukrainian-numerals *ngIf="defaultLanguage === 'Українська'"></app-ukrainian-numerals>

<!-- ITALIAN -->
<app-italian-numerals *ngIf="defaultLanguage === 'Італійська'"></app-italian-numerals>

<!-- FRENCH -->
<app-french-numerals *ngIf="defaultLanguage === 'Французька'"></app-french-numerals>

<!-- ENGLISH -->
<app-english-numerals *ngIf="defaultLanguage === 'Англійська'"></app-english-numerals>
