 <!---  BODY  --->
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="special-word">за́мок (ч.)(іменник)</div>
      <div class="word-description">(пристрій для замикання тощо)</div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 tabs-section">
         <div class="tab-block reject-tabs" [ngStyle]="{'background': selectedTab === 'first' ? '#ffffff' : ''}" (click)="selectTab('first')"> За́мок(ім., ч.)</div><!--
      --><div class="tab-block reject-tabs" [ngStyle]="{'background': selectedTab === 'second' ? '#ffffff' : ''}" (click)="selectTab('second')">За́мок (ім., ч., одн.)</div><!--
      --><div class="tab-block reject-tabs" [ngStyle]="{'background': selectedTab === 'third' ? '#ffffff' : ''}" (click)="selectTab('third')"> За́мок (ім., ч., одн.)</div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-12 col-md-12 words-table" *ngIf="selectedTab === 'first'">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Відмінки</th>
          <th scope="col">Однина</th>
          <th scope="col">Множина</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>Називний</td>
          <td>за́мок</td>
          <td>за́мки</td></tr>
        <tr>
          <td>Родовий</td>
          <td>за́мку</td>
          <td>за́мків</td>
        </tr>
        <tr>
          <td>Давальний</td>
          <td>за́мку, за́мкові</td>
          <td>за́мкам</td>
        </tr>
        <tr>
          <td>Знахідний</td>
          <td>за́мок</td>
          <td>за́мки</td>
        </tr>
        <tr>
          <td>Орудний</td>
          <td>за́мком</td>
          <td>за́мками</td>
        </tr>
        <tr>
          <td>Місцевий</td>
          <td>на/у за́мку, за́мкові</td>
          <td>на/у за́мках</td>
        </tr>
        <tr>
          <td>Кличний</td>
          <td>за́мку</td>
          <td>за́мки</td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 words-table" *ngIf="selectedTab === 'second'">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Second</th>
          <th scope="col">Second</th>
          <th scope="col">Second</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>Second</td>
          <td>Second</td>
          <td>Second</td></tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 words-table" *ngIf="selectedTab === 'third'">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Third</th>
          <th scope="col">Third</th>
          <th scope="col">Third</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>Third</td>
          <td>Third</td>
          <td>Third</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>

