@import "../../../../../../styles-variables";

.table-wrapper{
  margin-top: 60px;
  width: 100%;
}
.special-word{
  font-size: 24px;
  font-weight: bold;
  color: $dark-blue-color;
}
.word-description{
  font-size: 14px;
  color: $dark-blue-color;
}
.tabs-section{
  text-align: right;
  margin-top: 20px;
  position: relative;
}
.tab-block{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: bold;
  color: $dark-blue-color;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow: 0 -2px 6px -1px rgba(113, 113, 113, 0.36);
}
.words-table{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 rgba(113, 113, 113, 0.36);
}
.table{
  width: 100%;
  font-size: 18px;
  color: $dark-blue-color;
  margin-bottom: 0;
  border: none
}
th{
  background: $white-color;
  border-top: none;
  border-bottom: none;
  padding-left: 30px!important;
}
.table thead th{
  border-top: none;
  border-bottom: none;
}
.table td, .table th{
  padding: 12px 0;
  padding-left: 30px!important;
}
tr:nth-child(odd) {
  background-color: #d8d8d8;
}
tr:nth-child(even) {
  background-color: $white-color;
}
tr td:first-child{
  font-weight: bold;
  color: $light-red-color;
}
.active{
  background-color: $white-color;
}

.no-active{
  background-color: #d8d8d8;
}
