@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";


.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}
