<div class="row no-gutters numerical-work-place">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">Orthographe traditionnelle:</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word color-title-numerical">Кількісний:</div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word color-title-numerical">Порядковий:</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word">
    <b>cent quatre-vingts (180)</b><br>
    <i>*У Романдії: cent huitante</i>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-bottom-10">
    <b>m./f.</b> cent quatre-vingtième (180e)<br><br>
    <b> pl. m./f. </b> cent quatre-vingtièmes (180es)<br>
    <i>*У Романдії: cent huitantième</i>
  </div>

  <!-- SECOND --->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">Orthographe rectifiée (1990)</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top color-title-numerical">Кількісний:</div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top color-title-numerical">Порядковий:</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top">
    <b>cent quatre-vingts (180)</b><br>
    <i>*У Романдії: cent huitante</i>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-bottom-10">
    <b>m./f.</b> cent quatre-vingtième (180e)<br><br>
    <b> pl. m./f. </b> cent quatre-vingtièmes (180es)<br>
    <i>*У Романдії: cent huitantième</i>
  </div>
</div>
