<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Скласти слова з літер
  </div>
</div>

<div class="row no-gutters translate-block margin-correct">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 word letter-word-block">
    <label class="end-word">Слово. Використовуйте * для випадкових літер (макс. 2)</label><br>
    <input type="text" placeholder="Введіть слово">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 word">
    <label class="end-word">Мова</label><br>
    <div class="selector-language bottom-width">
      <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
      <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
      <div class="list-of-languages" *ngIf="openSelector">
        <div *ngFor="let language of languages"
             [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
             (click)="defaultLanguage = language; openSelector = !openSelector">
          {{defaultLanguage === language ? '' : language}}</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 translate crossrord-btn">
    <button>Знайти</button>
  </div>
</div>


<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consist-word-title">
    7 літер
  </div>
</div>

<div class="row no-gutters words-block">
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
</div>


<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consist-word-title">
    8 літер
  </div>
</div>

<div class="row no-gutters words-block margin-correct-80">
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
</div>
