@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";

.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}
.letter-word-block{
  input{
    width: 100%;
  }
}
.translate-block{
  margin-top: 20px;
}
.translate{
  padding-top: 82px;
}
.consist-word-title{
  width: 100%;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.26);
  background-color: #efefef;
  font-size: 18px;
  color: $dark-blue-color;
  line-height: 2.5;
  font-weight: bold;
  padding-left: 25px;
}
.col-word{
  font-size: 18px;
  color: $dark-blue-color;
  font-weight: normal;
  p{
    margin-bottom: 0;
    padding: 15px 0 15px 25px;
    word-break: break-all;
  }
}
.words-block{
  background: $white-color;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.26);
}
.margin-correct{
  margin-bottom: 30px;
}
.margin-correct-80{
  margin-bottom: 150px;
}
.list-of-languages{
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 47px;
  left: -1px;
  border-left: 1px solid $dark-blue-color;
  border-right: 1px solid $dark-blue-color;
  border-bottom: 1px solid $dark-blue-color;
  background: $white-color;
  box-sizing: content-box;
  div{
    font-size: 14px;
    color: $dark-blue-color;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(18, 45, 75, 0.1);
    }
  }
}
.selector-language{
  span{
    cursor: pointer;
  }
}
