<div class="wrap-popup">
  <div class="popup">
    <div class="row no-gutters">
      <div class="col-xs-6 col-sm-9 col-md-6 login-image">
        <img src="assets/images/login-img.png">
        <div class="word-login">
          <p>Easter</p>
          <p>/ˈiː.stɚ/</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-9 col-md-6 register-block">
        <p class="title-login">Реєстрація</p>
        <div class="fb">
          <div class="image-fb"><img src="assets/images/facebook.png"></div><div class="line-simple"></div><!--
          --><div class="name-fb">Вхід із Facebook</div>
        </div>
        <p class="title-else">Або</p>

        <div class="field-input">
          <label>Ім’я користувача</label><br>
          <input type="text" placeholder="Ім'я">
        </div>

        <div class="field-input">
          <label>Адреса email</label><br>
          <input type="email" placeholder="Email">
        </div>

        <div class="field-input pr">
          <label>Пароль</label><br>
          <input type="password" placeholder="Пароль">
          <img src="assets/images/eye.png">
        </div>

        <button class="register-btn" (click)="closePopup()">Зареєструватися</button>

        <div class="have-account">Маєте аккаунт? Здійсніть<span (click)="goToLogin()"> вхід</span></div>
      </div>
    </div>
  </div>
</div>


