<div class="row no-gutters">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <p class="footer-slogan">Київський словник</p>
    <p class="author-protection">Авторське право (c), YeNotes, 2018. <br>Усі права застережено.</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="count-translation">
      <p class="count">Кількість перекладів:</p>
      <p class="number">140 222</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="menu-bottom">
      <a #connection='routerLinkActive' [routerLink]="['/connection']" routerLinkActive
         [ngStyle]="{'color': connection.isActive ? '#e4bd7d' : ''}">Зв’язок</a>
      <a #about='routerLinkActive' [routerLink]="['/about']" routerLinkActive
         [ngStyle]="{'color': about.isActive ? '#e4bd7d' : ''}">Про нас </a>
      <a #vacancies='routerLinkActive' [routerLink]="['/vacancies']" routerLinkActive
         [ngStyle]="{'color': vacancies.isActive ? '#e4bd7d' : ''}">Вакансії </a>
      <a #agreement='routerLinkActive' [routerLink]="['/agreement']" routerLinkActive
         [ngStyle]="{'color': agreement.isActive ? '#e4bd7d' : ''}">Угода з користувачем</a>
    </div>
    <div class="social-links">
      <img src="assets/images/instagram-1.png">
      <img src="assets/images/facebook.png">
      <img src="assets/images/chrome-logo.png">
    </div>
  </div>
</div>

