@import "../../../styles-variables";
@import "../../../style/media-style";
@import "../../../style/common-style";


.footer-slogan{
  font-family: 'Playfair Display';
  font-size: 27px;
  font-weight: bold;
  padding-top: 25px;
  letter-spacing: 1.2px;
  color: #ffffff;
}
.author-protection{
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: #e2e2e2;
}
.count-translation{
  text-align: center;
  width: 239px;
  height: 81px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 25px;
}
.count{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #e2e2e2;
  margin: 0;
  padding-top: 5px;
}
.number{
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #d84961;
  margin: 0;
}
.menu-bottom{
  margin-top: 25px;
  text-align: right;
}
.menu-bottom a{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #e2e2e2;
  margin-left: 14px;
}
.social-links{
  text-align: right;
  margin-top: 25px;
}
.social-links img{
  margin-left: 15px;
  cursor: pointer;
}
