@import "../../../styles-variables";
@import "../../../style/menu-style";


.cover-main-part{
  background: rgba(18, 45, 75, 0.7);
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}
.top-z-index{
  z-index: 2;
}
