<div class="row no-gutters min-height top-z-index" *ngIf="routersMainMenu.indexOf(routeUrl) >= 0">
  <div class="logo-menu" (click)="openLeftMenu=!openLeftMenu">
    <div class="line-menu"></div>
    <div class="line-menu"></div>
  </div>
  <div class="col-xs-9 col-sm-12 col-md-4">
  <div class="logo-img">
    <img src="./assets/images/logo.png">
    <img src="./assets/images/kyiv-dictionary.png">
  </div>
  </div>
  <div class="col-xs-6 col-sm-9 col-md-6 menu-top pos-abs-menu d-flex justify-content-center">
    <a [routerLink]="['']" routerLinkActive
       [ngStyle]="{'border-bottom': ''.isActive ? '6px solid #e4bd7d' : ''}">Словник <img src="assets/images/down-arrow.png"></a>
    <a #rejectionWords='routerLinkActive' [routerLink]="['/rejection-words']" routerLinkActive
       [ngStyle]="{'border-bottom': rejectionWords.isActive ? '6px solid #e4bd7d' : ''}">Відмінювання слів</a>
    <a #grammar='routerLinkActive' [routerLink]="['/grammar']" routerLinkActive
       [ngStyle]="{'border-bottom': grammar.isActive ? '6px solid #e4bd7d' : ''}">Граматика</a>
  </div>
  <div class="col-xs-2 col-sm-3 col-md-2 login-btn">
    <button type='button' (click)="openLoginPopup()">Log in</button>

    <a href="">UA<img src="assets/images/down-arrow.png"></a>
  </div>
</div>


<!-- SECOND TYPE MENU -->
  <app-header-second (menuFromTop)="menuFromTop($event)" *ngIf="routersSecondTypeMenu.indexOf(routeUrl) >= 0"></app-header-second>

<!-- LEFT MENU -->
<div *ngIf="openLeftMenu" class="col-xs-12 col-sm-9 col-md-4 col-lg-4 left-menu">
  <app-left-menu (menuBlockClose)="menuBlockClose($event)"></app-left-menu>
</div>

<div *ngIf="openLeftMenu" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cover-main-part"></div>

<!-- POPUP LOGIN -->

<app-login *ngIf="popupLogin" (popupLogin)="closePopup($event)" (registerUserPopup)="registerUserPopup($event)"></app-login>

<app-register *ngIf="registerUser" (popupRegister)="popupRegister($event)" (loginPopupFromRegister)="loginPopupFromRegister($event)"></app-register>
