<div class="row no-gutters translate-block">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 word">
  <label>Слово/фраза</label><br>
  <input type="text" placeholder="Введіть слово або фразу">
</div>
<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 translate-way">
  <label>Напрям перекладу</label>
  <div class="selector-language language-word-main translate-main-page">
    <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
    <img src="assets/images/exchange-arrows.png">
    <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
    <div class="list-of-languages" *ngIf="openSelector">
    <div *ngFor="let language of languages"
         [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
         (click)="defaultLanguage = language; openSelector = !openSelector">
      {{defaultLanguage === language ? '' : language}}</div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center translate button-translate-text">
  <button>Перекласти</button>
</div>
</div>
