@import "../../../../../styles-variables";
@import "../../../../../style/common-style";
@import "./../../../../../style/media-style";

%label-style{
  color: $brown-color;
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

%input-style{
  height: 48px;
  border-radius: 2px;
  font-size: 14px;
  color: $dark-blue-color;
  border: none;
  padding-left: 16px;
}

.slogan{
  font-family: 'AnastasiaScript';
  color :red
}

.translate-way{
  //padding-left: 30px;
  padding-top: 40px;
  label{
    @extend %label-style;
  }
  div {
    position: relative;
    input {
      width: 83%;
      @extend %input-style;
      padding: 0 45px;
    }
    //img{
    //  position: absolute;
    //  &:first-of-type{
    //    left: 14px;
    //    top: 18px;
    //  }
    //  &:last-of-type{
    //    right: 70px;
    //    top: 20px;
    //  }
    //}
  }
}

.selector-language{
  position: relative;
  span{
    padding: 0 30px 0 43px;
  }
  img{
    &:first-of-type{
      left: 15px!important;
    }
  }
  .list-of-languages{
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 47px;
    left: -1px;
    border-left: 1px solid $dark-blue-color;
    border-right: 1px solid $dark-blue-color;
    border-bottom: 1px solid $dark-blue-color;
    background: $white-color;
    box-sizing: content-box;
      div{
        font-size: 14px;
        color: $dark-blue-color;
        padding: 10px 41px;
        cursor: pointer;
          &:hover{
            background-color: rgba(18, 45, 75, 0.1);
          }
      }
  }
}
