@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";


.play{
  width: 92%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  button{
    border: none;
    background: $light-red-color;
    font-size: 18px;
    font-weight: bold;
    color: $white-color;
    width: 172px;
    height: 48px;
    border-radius: 2px;
    cursor: pointer;
  }
}

.absolute-center{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 16px;
  left: 0;
  right: 0;
}
