@import "../../../styles-variables";
@import "../../../style/media-style";
@import "../../../style/common-style";


.cover {
  cursor: pointer;
  position: absolute;
  left: -35px;
  top: 57px;
  .line-menu-left {
    background: $white-color;
    width: 31px;
    height: 4px;
    margin-right: 25px;
    cursor: pointer;
    &:last-of-type {
      margin-top: 0.3em;
    }
  }
}

.logo-img-left{
  position: relative;
  width: 75%;
  padding-top: 27px;
  float: right;
}
.logo-img-left img{
    width: 260px;
    margin-left: 25px;
    margin-top: 20px;
}
.menu-left{
  color: $white-color;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
  margin-left: -36px;
  margin-top: 31px;
    li{
      list-style-type: none;
      padding-top: 24px;
      cursor: pointer;
        &:hover{
          color: $brown-color;
        }
        &:focus{
          outline: none;
        }
    }
}
