<div class="logo-img-left">
  <div class="cover" (click)="closeMenu()">
    <div class="line-menu-left"></div>
    <div class="line-menu-left"></div>
  </div>
    <img src="./assets/images/kyiv-dictionary__.png">


  <ul class="menu-left">
    <li [routerLink]="['']" (click)="closeMenu()">Словник</li>
    <li #rejectionWords='routerLinkActive' [routerLink]="['/rejection-words']" routerLinkActive
        [ngStyle]="{'color': rejectionWords.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Відмінювання слів</li>
    <li #grammar='routerLinkActive' [routerLink]="['/grammar']" routerLinkActive
        [ngStyle]="{'color': grammar.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Граматика</li>
    <li #wordsEnd='routerLinkActive' [routerLink]="['/words-end']" routerLinkActive
        [ngStyle]="{'color': wordsEnd.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Слова що закінчуются на…</li>
    <li #crosswordAnswers='routerLinkActive' [routerLink]="['/crossword-answers']" routerLinkActive
        [ngStyle]="{'color': crosswordAnswers.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Відповіді на кросворди</li>
    <li #wordsFromLetter='routerLinkActive' [routerLink]="['/words-from-letters']" routerLinkActive
        [ngStyle]="{'color': wordsFromLetter.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Скласти слова з літер</li>
    <li #numeralsSpelling='routerLinkActive' [routerLink]="['/numerals-spelling']" routerLinkActive
        [ngStyle]="{'color': numeralsSpelling.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Відмінювання числівників (пропис)</li>
    <li #currencyConverter='routerLinkActive' [routerLink]="['/currency-converter']" routerLinkActive
        [ngStyle]="{'color': currencyConverter.isActive ? '#e4bd7d' : ''}" (click)="closeMenu()">Конвертер валют</li>
  </ul>
</div>


