<!-- WORKING PLACE -->
<div class="row no-gutters numerical-work-place">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">
    сім ти́сяч шістсо́т п’ятдеся́т ві́сім - числівник, кількісний (7 658)
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word mar-top">Називний</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description mar-top">
    сім ти́сяч шістсо́т п’ятдеся́т ві́сім
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word">Родовий</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description">
    семи́ (сімо́х) ти́сяч шестисо́т п’ятдесяти́ (п’ятдесятьо́х) восьми́ (вісьмо́х)
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word">Давальний</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description">
    семи́ (сімо́м) ти́сячам шестиста́м п’ятдесяти́ (п’ятдесятьо́м) восьми́ (вісьмо́м)
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word">Знахідний</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description">
    сім ти́сяч шістсо́т п’ятдеся́т (п’ятдесятьо́х) ві́сім (вісьмо́х)
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word">Орудний</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description">
    сімома́ (сьома́) ти́сячами шістьмаста́ми (шістьомаста́ми) п’ятдесятьма́ (п’ятдесятьома́) вісьма́ (вісьмома́)
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 numerical-word mar-bottom">Місцевий</div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 numerical-description mar-bottom">
    на/у семи́ (сімо́х) ти́сячах шестиста́х п’ятдесяти́ (п’ятдесятьо́х) восьми́ (вісьмо́х)
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">
    сім ти́сяч шістсо́т п’ятдеся́т во́сьмий - числівник, порядковий (7 658)
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 color-title-numerical">Відмінки</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color-title-numerical">Чоловічий</div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 color-title-numerical">Жіночий</div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 color-title-numerical">Середній</div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 color-title-numerical">Множина</div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word">Називний</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description">сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмий</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description ">-//- <b>во́сьма</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьме</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмі</b></div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word">Родовий</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description">сім ти́сяч шістсо́т п’ятдеся́т<b> во́сьмого</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description ">-//- <b>во́сьмої</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмого</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмих</b></div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word">Давальний</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description">сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмому</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description ">-//- <b>во́сьмій</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмому</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмим</b></div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word">Знахідний</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description">
    сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмий,</b><br>
    сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмого</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description ">-//- <b>во́сьму</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьму</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмі,</b><br>
    -//- <b>во́сьмих</b></div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word">Орудний</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description">сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмим</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description ">-//- <b>во́сьму</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьме</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description">-//- <b>во́сьмими</b></div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-word mar-bottom">Місцевий</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 numerical-description mar-bottom">на/у сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмому,</b><br>
    сім ти́сяч шістсо́т п’ятдеся́т <b>во́сьмім</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description mar-bottom">-//- <b>во́сьмій</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description mar-bottom">-//- <b>во́сьмим</b></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 numerical-description mar-bottom">-//- <b>во́сьмих</b></div>
</div>

