@import "../../../../../../styles-variables";
@import "./../../../../../../style/media-style";
@import "../../../../../../style/common-style";


.numerical-work-place{
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.54);
  background: $white-color;
  margin-bottom: 100px;
  margin-top: 40px;
}
.title-numerical{
  background: #d8d8d8;
  font-size: 18px;
  font-weight: 500;
  color: $table-text-color;
  min-height: 48px;
  padding: 0 15px;
  line-height: 2.75;
}
.numerical-word{
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: $table-text-color;
  padding: 7px 20px;

}
.numerical-description{
  font-size: 16px;
  color: $table-text-color;
  padding: 7px 20px;
}

.mar-top{
  margin-top: 20px;
}
.mar-bottom{
  margin-bottom: 20px;
}

.color-title-numerical{
  color: #d9ad64;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0 10px 20px;
}

