@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";

.table-wrapper{
  margin-top: 60px;
  width: 100%;
}
.main-height{
  height: 300px;
}
.main-height{
  height: 300px;
}
.component-block {
  height: calc(100% - 75px);
}
.play-block{
  height: calc(100% - 75px);
}
.row-grammar-bottom{
  height: 300px;
  margin-top: 175px;
}
.translate-words{
  margin-bottom: 30px;
}
.temporery{
  color: $dark-blue-color;
  cursor: pointer;
}
