<span class="temporery" (click)="rejectionNoun = false; rejectionVerb = true">Verb</span>
<span class="temporery" (click)="rejectionNoun = true; rejectionVerb = false">Noun</span>
<div class="row no-gutters row-content">

  <!-- NOUN-->
  <div class="table-wrapper" *ngIf="rejectionNoun">
      <app-rejection-noun></app-rejection-noun>
  </div>

  <!-- VERB -->
  <div class="table-wrapper" *ngIf="rejectionVerb">
    <app-rejection-verb></app-rejection-verb>
  </div>
</div>


  <!-- BOTTOM BLOCK -->
<div class="row no-gutters row-grammar-bottom">
  <div class="col-xs-12 col-sm-10 col-md-5 component-block">
    <app-word-day></app-word-day>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 play-block component-block">
    <app-start-play></app-start-play>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 translate-words component-block">
    <app-expression-grammar></app-expression-grammar>
  </div>
</div>
