@import "../../../../../../styles-variables";

.alphabit-list{
  padding: 20px;
  word-break: break-all;
  .list-letters{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: $dark-blue-color;
    padding: 0 3px;
    cursor: pointer;
  }
}

.short{
  font-size: 14px;
  color: $dark-blue-color;
  font-style: italic;
}
.word-full{
  font-size: 14px;
  color: $dark-blue-color;
}
.list-abbreviations{
  margin-top: 20px;
}
