<div class="col-xs-12 col-sm-12 col-md-12 alphabit-list">
  <span class="list-letters" [ngStyle]="{'color': selectedLetter === letter ? '#d9ad64' : ''}" *ngFor="let letter of alphabitArray" (click)="selectLetter(letter)">{{letter}}</span>

  <div class="list-abbreviations" *ngIf="selectedLetter === 'А'">
    <div><span class="short"><b>авіа = </b></span><span class="word-full">авіація</span></div>
    <div><span class="short"><b>австр. = </b></span><span class="word-full">Австрійські діалектизми</span></div>
    <div><span class="short"><b>авто- і мотоспорт = </b></span><span class="word-full">Автоспорт і мотоспорт</span></div>
    <div><span class="short"><b>автомоб. = </b></span><span class="word-full">Автомобільна галузь</span></div>
  </div>
</div>
