@import "../../../../styles-variables";
@import "../../../../style/menu-style";
@import "../../../../style/common-style";

%label-style{
  color: $brown-color;
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 500;
}
%input-style{
  height: 44px;
  border-radius: 2px;
  font-size: 14px;
  color: $dark-blue-color;
  border: none;
  padding-left: 16px;
}

.menu-top {
  text-align: left!important;
  padding-left: 60px;
  a {
    margin: 15px 25px 5px 0;
    padding-bottom: 7px;
  }
}
.login-btn{
  button, a {
    top: 15px !important;
  }
}
.logo-images {
  img:first-of-type{
    width: 34px;
  }
  img:last-of-type{
    margin-left: 10px;
    width: 76%;
  }
}
.search-input{
  input{
    border-radius: 2px;
    height: 44px;
    font-size: 14px;
    color: $dark-blue-color;
    border: none;
    width: 95%;
    padding: 0 15px;
  }
}
.searching-block{
  margin: 30px 0 25px 0;
}
.translate-way{
  label{
    @extend %label-style;
  }
  div {
    position: relative;
    justify-content: flex-end;
    input {
      width: 95%;
      @extend %input-style;
      padding: 0 45px;
    }
    img{
      position: absolute;
      &:first-of-type{
        left: 30px;
        top: 15px;
      }
      &:last-of-type{
        right: 15px;
        top: 20px;
      }
    }
  }
}
.selector-language{
  span{
    padding: 0 40px!important;
  }
  img{
    &:first-of-type{
      left: 15px!important;
    }
  }
}
.translate-way{
  .selector-language{
    justify-content: flex-start;
    height: 44px!important;
  }
}
.logo-menu-second{
  top: 23px!important;
  left: inherit;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}
.logo-menu-second{
  //position: absolute;
  //left: -115px;
  //top: 59px;
  //cursor: pointer;
}
.list-of-languages{
  z-index: 2;
  width: 100%;
  position: absolute!important;
  top: 43px;
  left: -1px;
  border-left: 1px solid $dark-blue-color;
  border-right: 1px solid $dark-blue-color;
  border-bottom: 1px solid $dark-blue-color;
  background: $white-color;
  box-sizing: content-box;
  div{
    font-size: 14px;
    color: $dark-blue-color;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(18, 45, 75, 0.1);
    }
  }
}
.selector-language{
  span{
    cursor: pointer;
  }
}

