<div class="row no-gutters">
  <div class="second-menu-top logo-menu-second" (click)="menuOpen()">
    <div class="line-menu"></div>
    <div class="line-menu"></div>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 menu-top second-menu">
      <a  [routerLink]="['']" routerLinkActive
          [ngStyle]="{'border-bottom': ''.isActive ? '6px solid #e4bd7d' : ''}">Словник <img src="assets/images/down-arrow.png"></a>
      <a #rejectionWords='routerLinkActive' [routerLink]="['/rejection-words']" routerLinkActive
         [ngStyle]="{'border-bottom': rejectionWords.isActive ? '6px solid #e4bd7d' : ''}">Відмінювання слів</a>
      <a #grammar='routerLinkActive' [routerLink]="['/grammar']" routerLinkActive
         [ngStyle]="{'border-bottom': grammar.isActive ? '6px solid #e4bd7d' : ''}">Граматика</a>
    </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 pos-abs-media login-btn">
    <button (click)="openLoginPopup()">Log in</button>

    <a href="">UA<img src="assets/images/down-arrow.png"></a>
  </div>
</div>


<div class="row no-gutters searching-block">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 logo-images">
    <img src="assets/images/logo.png">
    <img src="assets/images/kyiv-dictionary__.png">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 search-input">
    <input type="text" placeholder="Search">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 translate-way header-translate-language">
    <div class="selector-language second-menu-language">
      <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
      <img src="assets/images/exchange-arrows.png">
      <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
      <div class="list-of-languages" *ngIf="openSelector">
        <div *ngFor="let language of languages"
             [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
             (click)="defaultLanguage = language; openSelector = !openSelector">
          {{defaultLanguage === language ? '' : language}}</div>
      </div>
    </div>
  </div>
</div>


<app-login *ngIf="popupLogin" (popupLogin)="closePopup($event)" (registerUserPopup)="registerUserPopup($event)"></app-login>

<app-register *ngIf="registerUser" (popupRegister)="popupRegister($event)" (loginPopupFromRegister)="loginPopupFromRegister($event)"></app-register>
