<div class="row no-gutters numerical-work-place">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">Brit.</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word color-title-numerical">Кількісний:</div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word color-title-numerical">Порядковий:</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word">
    twenty-five (25)
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-bottom-10">
    twenty-fifth (25th)
  </div>

  <!-- SECOND --->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">USA</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top color-title-numerical">Кількісний:</div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top color-title-numerical">Порядковий:</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-top">
    twenty-five (25)
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 numerical-word pad-bottom-10">
    twenty-fifth (25th)
  </div>
</div>

