<p class="title-block-main">Етимологія тижня</p>

<div class="etymology">
  <img src="assets/images/car.png">

  <div class="word-play">
    <p>Auto</p>
    <p>Походить від франц. aviation, з лат. avis «птах», з праіндоевр. * Awi- «птах».</p>
  </div>
</div>
