@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";


.etymology{
  width: 100%;
  position: relative;
  height: 316px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  .word-play{
    position: absolute;
    width: 243px;
    height: 144px;
    background: rgba(219, 87, 109, 0.88);
    right: 7px;
    top: 16px;
      p{
        &:first-of-type{
          font-family: PlayfairDisplay;
          font-size: 36px;
          color: $white-color;
          margin: 0;
          padding-left: 15px;
        }
        &:last-of-type{
          font-size: 14px;
          color: $white-color;
          padding: 0 15px;
        }
      }
  }
}
