<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Зв’язок
  </div>
</div>

<div class="row no-gutters connection-block">
  <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="title-connection">Будь ласка, зв’яжіться з нами за однією з наведених нижче адрес,
      залежно від Вашого питання:</p>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 first-block-text pad-bottom">Технічні недоліки та помилки сайту:</div>
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 second-block-email">tech@yenotes.com</div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 first-block-text pad-bottom">Лінгвістичні недоліки та помилки сайту: </div>
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 second-block-email">ling@yenotes.com</div>

  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 first-block-text">Пропозиції, співправця тощо:</div>
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 second-block-email">contact@yenotes.com</div>
</div>
