@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";
.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
  padding: 0;
}
.connection-block{
  margin-top: 20px;
  background: $white-color;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.54);
  padding: 20px;
}
.title-connection{
  font-size: 18px;
  font-weight: bold;
  color: $brown-color;
}
.first-block-text{
  font-size: 16px;
  font-weight: 500;
  color: #1f476b;
}
.second-block-email{
  font-size: 16px;
  font-weight: bold;
  color: $dark-blue-color;
  text-decoration: underline;
}
.pad-bottom{
  padding-bottom: 15px;
}
