@import "../styles-variables";

%flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.header{
  min-height: 128px;
  box-shadow: 0 2px 22px 0 rgba(69, 69, 69, 0.4);
  background-color: $dark-blue-color;
  @extend %flex-container;
}
.footer{
  min-height: 143px;
  background-color: $dark-blue-color;
  @extend %flex-container;
}
.content {
  min-height: calc(100% - 271px);
  @extend %flex-container;
  background-image: url(assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

