<div class="container-fluid no-gutters main-wrapper">

    <!-- HEADER--->
    <div class="row no-gutters header">
      <div class="container-fluid row-main-section">
        <app-header></app-header>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="row no-gutters content">
      <div class="container-fluid row-main-section">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row no-gutters footer">
      <div class="container-fluid row-main-section">
        <app-footer></app-footer>
      </div>
    </div>
</div>
