<div class="cover-grammar">
     <div class="expression">
       <p class="title-block-main">Вислів</p>
       <div class="language-from">
         <img src="assets/images/france-flag.png">
         <p><b>(фр.)   trop poli pour être honnête</b></p>
       </div>
       <div class="language-to">
         <img src="assets/images/ukraine.png">
         <p><b>(ук.)</b>  надто ґречний, щоб бути чесним</p>
         <img class="arrow-exchange absolute-center" src="assets/images/exchange-arrows.png">
       </div>
     </div><!--
  --><div class="grammar-block">
      <p class="title-block-main">Граматика</p>
      <div class="grammar">
        <img src="assets/images/ukraine.png">
        <p>Passe simple (минулий доконаний час)</p>
      </div>
    </div>
</div>
