@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";


.cover-grammar{
  width: 100%;
    .expression{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
  .grammar-block{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.language-from, .language-to{
  max-width: 160px;
  height: 95px;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
  background-color: #ffffff;
  text-align: center;
}
.language-from img, .language-to img{
  text-align: center;
  margin-top: 5px;
  width: 25%;
}
.language-to{
  margin-top: 34px;
  position: relative;
}
.language-from p, .language-to p{
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #122d4b;
  margin-top: 10px;
}
.arrow-exchange{
  position: absolute;
  top: -27px;
  cursor: pointer;
  width: auto!important;
}
.translate-words{
  height: 250px;
  max-width: 170px;
}
.grammar{
  height: 225px;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
  background-color: #122d4b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}
.grammar img{
  position: absolute;
  top: 7px;
  right: 7px;
  width: 50px!important;
}
.grammar p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding: 0 10px;
}
