@import "../../../styles-variables";
@import "../../../style/media-style";
@import "../../../style/common-style";

.wrap-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background: rgba(18,45,75, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup{
  //position:fixed;
  //left: calc((100% - 790px) / 2);
  width: 790px;
  height: 573px;
  border-radius: 4px;
  background: $white-color;
  z-index: 2;
  //top: 170px
}
.popup .wrapper{
  position:relative;
  left:-50%;

  background-color:#fff;
  padding:10px;
}
.login-image{
  width: 100%;
  position: relative;
    .word-login{
      position: absolute;
      bottom: 10px;
      left: 15px;
        p{
          &:first-of-type{
            font-size: 42px;
            font-weight: bold;
            text-shadow: 0 2px 4px $dark-blue-color;
            color: $dark-blue-color;
            letter-spacing: 2.1px;
            opacity: 0.88;
            font-family: PlayfairDisplay;
            margin-bottom: 0px;
          }
          &:last-of-type{
            font-size: 20px;
            font-weight: bold;
            opacity: 0.7;
            color: $dark-blue-color;
            letter-spacing: 1.1px;
            margin-bottom: 0;
          }
        }
    }
}
.register-block{
  width: 100%;
  padding: 25px  61px;
  margin: 0 auto;
}
.title-login{
  font-size: 24px;
  font-weight: bold;
  color: $dark-blue-color;
  text-align: center;
}
.fb{
  width: 100%;
  background: $dark-blue-color;
  border-radius: 2px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
    .image-fb{
      width: 15%;
      display: inline-block;
      text-align: center;
    }
  .name-fb{
    width: 84%;
    display: inline-block;
    color: $white-color;
    font-size: 14px;
    text-align: center;
  }
}
.line-simple{
  width: 1px;
  display: inline-block;
  height: 77%;
  background: #7b7b7b;
}
.title-else{
  font-size: 16px;
  font-weight: 500;
  color: $brown-color;
  text-align: center;
  padding: 20px 0 5px 0;
}
.field-input{
  width: 100%;
  margin-top: 10px;
    label{
      font-size: 14px;
      font-weight: 500;
      color: $dark-blue-color;
    }
  input{
    border-radius: 2px;
    width: 100%;
    border: 1px solid $dark-blue-color;
    padding: 0 10px;
    height: 38px;
    color: $dark-blue-color;
    font-size: 14px;
      &:focus{
        outline: none;
      }
  }

}

.pr{
  position: relative;
    img{
      right: 10px;
      top: 41px;
      width: 27px;
      height: 16px;
      position: absolute;
    }
}
.register-btn{
  margin-top: 35px;
  border-radius: 2px;
  width: 100%;
  height: 48px;
  background: $brown-color;
  font-size: 18px;
  font-weight: bold;
  color: $white-color;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}
.have-account{
  font-size: 12px;
  text-align: center;
  color: #171a36;
  margin-top: 40px;
    span{
      color: $brown-color;
      cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
    }
}

.lose-password{
  font-size: 12px;
  color: $brown-color;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}
.remember-me{
  width: 100%;
  margin-top: 15px;
  span{
    font-size: 12px;
    color: $dark-blue-color;
  }
}
