<div class="wrap-popup">
  <div class="popup">
    <div class="row no-gutters">
      <div class="col-xs-6 col-sm-9 col-md-6 login-image">
        <img src="assets/images/cup.png">
        <div class="word-login">
          <p>Cappuccino</p>
          <p>/ˌkæp.uˈtʃiː.nəʊ/</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-9 col-md-6 register-block">
        <p class="title-login">Вхід</p>
        <div class="fb">
          <div class="image-fb"><img src="assets/images/facebook.png"></div><div class="line-simple"></div><!--
          --><div class="name-fb">Вхід із Facebook</div>
        </div>
        <p class="title-else">Або</p>

        <div class="field-input">
          <label>Ім’я користувача або email</label><br>
          <input type="text" placeholder="Ім'я або email">
        </div>

        <div class="field-input pr">
          <label>Пароль</label><br>
          <input type="password" placeholder="Пароль">
          <img src="assets/images/eye.png">
        </div>

        <div class="remember-me">
          <img>
          <span>Запам’ятати мене</span>
        </div>

        <button class="register-btn" (click)="closePopup()">Увійти</button>
        <p class="lose-password">Забули пароль?</p>

        <div class="have-account">Не маєте аккаунта? Здійсніть<span (click)="registerUser()"> реєстрацію</span></div>
      </div>
    </div>
  </div>
</div>



