@import "../styles-variables";
@import "./media-style";

%label-style{
  color: $brown-color;
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

%input-style{
  height: 48px;
  border-radius: 2px;
  font-size: 14px;
  color: $dark-blue-color;
  border: none;
  padding-left: 16px;
}
.translate-block{
  width: 100%;
  min-height: 158px;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
  background: $dark-blue-color;
  margin-top: 40px;
}


.title-block-main{
  color: $dark-blue-color;
  font-size: 24px;
  font-weight: bold;
}
.word{
  padding-left: 24px;
  padding-top: 40px;
  label{
    @extend %label-style;
    width: 100%;
  }
  input{
    width: 95%;
    @extend %input-style;
  }
}

.translate{
  padding-top: 75px;
  margin-left: -15px;
  button {
    background: $brown-color;
    width: 100%;
    max-width: 172px;
    height: 48px;
    border-radius: 2px;
    color: $white-color;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
}
.selector-language{
  height: 48px;
  border-radius: 2px;
  font-size: 14px;
  color: $dark-blue-color;
  width: 85%;
  position: relative;
  background: $white-color;
  display: flex;
  align-items: center;
  span{
    padding: 0 16px;
  }
  img{
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }
}
.end-word{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
