@media screen and (max-width: 1375px) {
  .logo-menu{
    left: -70px!important;
  }
}

@media screen and (max-width: 1300px) {
  .logo-menu{
    left: 1px!important;
    top: 105px!important;
    z-index: 2;
  }
}
@media screen and (max-width: 1200px) {
  .logo-img-left img{
    width: 200px!important;
  }
  .cover{
    top: 52px!important;
  }
}

@media screen and (max-width: 965px) {
  .logo-img-left img{
    width: 157px!important;
  }
  .login-btn a{
    padding-left: 2px!important;
  }
  .logo-menu{
    left: 1px!important;
    //top: 35px!important;
    z-index: 2;
  }
  .logo-images{
    img:last-of-type{
      width: 65%!important;
    }
  }
  .second-menu-top{
    left: 15px!important;
  }
  .grammar-block{
    width: 45%!important;
    float: right;
  }
  .menu-left{
    text-align: left;
  }
  .currency-input{
    width: 85%!important;
  }
  .margin-null{
    margin-bottom: 20px!important;
  }
}

@media screen and (max-width: 820px) {
  .login-image {
    display: none;
  }
  .register-block{
    width: 60%!important;
   }
}
@media screen and (max-width: 875px) and (min-width: 796px) {
  .menu-top a {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 796px) and (min-width: 768px) {
  .logo-images{
    img:first-of-type{
      margin-left: 15px;
    }
    img:last-of-type{
     display: none;
    }
  }
  .logo-menu{
    left: 22px!important;
    top: 96px!important;
  }
  .menu-top a {
    font-size: 14px !important;
  }
  .login-btn a{
    display: none;
  }
  .logo-img{
    text-align: center;
  }
  .logo-img img{
    &:first-of-type{
      width: 54px!important;
    }
    &:last-of-type{
      width: 135px!important;
    }
  }
}
@media screen and (max-width: 767px){
  .logo-img-left img{
    width: 215px!important;
  }
  .pos-abs-menu{
    margin-top: 25px!important;
  }
  .pos-abs-media{
    position: absolute;
      button{
        position: absolute!important;
        right: 80px;
      }
      a{
        position: absolute!important;
        right: 25px;
        margin-top: 6px;
      }
  }
  .logo-images{
    img:last-of-type{
      width: 42%!important;
    }
  }
  .logo-menu{
    left: 75px!important;
  }
  .second-menu{
    left: 0!important;
  }
  .country{
    .image{
      line-height: 3!important;
      div{
        font-size: 23px!important;
      }
    }
  }
  .word-block{
    margin: 0 auto;
    height: 80%!important;
  }
  .title-block-main{
    text-align: center;
  }
  .footer{
    text-align: center;
  }
  .menu-bottom, .social-links{
    text-align: center!important;
  }
  .block-word{
    height: auto!important;
    width: 95%!important;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .logo-img{
    text-align: center;
  }
  .menu-top a{
    margin: 15px 15px  15px 0!important;
  }
  .login-btn button, .login-btn a{
    top: 40px!important;
  }
  .logo-img img{
    &:first-of-type{
      width: 54px!important;
      margin-left: 0!important;
    }
    &:last-of-type{
      width: 135px!important;
    }
  }
  .bottom-width{
    margin-bottom: 20px;
    width: 94%!important;
  }
  .translate{
    padding-top: 60px!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-images{
    margin: 15px 0;
  }
  .search-input{
    input{
      width: 91%!important;
    }
  }
  .searching-block{
    text-align: center;
  }
  .translate-way {
    padding-top: 25px!important;
    padding-bottom: 25px;
    div {
      justify-content: center!important;

      img {
        &:first-of-type {
          left: 41px !important;
        }
      }

      input {
        width: 91% !important;
      }
    }
    label{
      padding-left: 23px;
    }
  }
  .component-block{
    height: calc(100% - 6px)!important;
    margin: 0 auto;
  }
  .etymology-main{
    margin-top: 85px;
  }
  .tabs-section {
    margin-top: 75px!important;
  }
  .row-grammar-bottom{
    height: 10%!important;
  }
  .header-translate-language{
    padding-top: 0!important;
  }
  .searching-block{
    margin: 0!important;
  }
  .play-section{
    display: flex;
    justify-content: center;
  }
  .searching-block{
    padding-top: 45px;
  }
  .second-menu a{
    font-size: 13px;
  }
  .play{
    width: 65% !important;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .crossrord-btn{
    padding-top: 20px!important;
    padding-bottom: 10px!important;
  }
  .letter-word-block {
    input{
      width: 95%!important;
    }
  }
  .language-word-main{
    margin: 0 auto;
  }
  .menu-left{
    text-align: left;
  }
  .language-from, .language-to{
    margin: 0 auto;
  }
  .grammar-block{
    padding-right: 50px;
    .grammar{
      margin: 0 auto;
    }
  }
  .social-links{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 577px){
  .button-translate-text, .crossrord-btn, .translate{
    margin-left: 0!important;
  }
  .translate-main-page{
    width: 89%!important;
  }
  .reject-tabs{
    width: 100%!important;
  }
  .work-vacancies-block{
    float: none!important;
    margin: 0 auto;
    padding-bottom: 15px!important;
    margin-bottom: 10px!important;
  }
  .call-us{
   text-align: center!important;
  }
  .vacancies-title{
    font-size: 18px!important;
  }
  .about-tabs{
    width: 100%;
  }
  .header-translate-language{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .second-menu-language{
    width: 91%!important;
  }
  .col-word{
      width: 50%;
  }
  .top-margin-33{
    margin-top: 0!important;
  }
  .country{
    text-align: center!important;
    margin-top: 10px;
    .image, .image-cover{
      margin: 0 auto;
      float:none!important;
    }
  }
  .login-btn{
    position: absolute !important;
    right: 7px!important;
    width: 50%!important;
  }
  .logo-img{
    width: 51%!important;
  }
  .translate{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .logo-menu{
    left: 15px!important;
  }
  .language-from, .language-to{
    margin: 0 auto;
  }

  .menu-top a{
    display: none;
  }
  .end-word{
    white-space: inherit!important;
  }
  .word-component{
    height: auto!important;
    padding-bottom: 5px;
  }
  .special-word, .word-description{
    text-align: center;
  }

}
@media screen and (max-width: 520px){
  .logo-menu{
    left: 37px!important;
    top: 100px!important;
  }
}
@media screen and (max-width: 446px){
  .menu-top a{
    font-size: 14px!important;
  }
  .logo-img img{
    &:first-of-type{
      display: none!important;
      margin-left: 0!important;
    }
  }
  .word-block{
    .word{
      width: 45%!important;
      height: 33%!important;
    }
  }
  .grammar-block{
    width: 50%!important;
    padding-right: 15px!important;
  }
  .play{
    width: 93%!important;
  }
  .row-grammar-bottom{
    margin-top: 45px!important;
  }
  .register-block{
    width: 90%!important;
  }
  .translate-way{
    div{
      img:first-of-type{
        left: 17px!important;
      }
    }
  }
}
