@import "../styles-variables";
@import "./media-style";


.logo-img{
  width: 100%;
  padding-top: 27px;
}
.logo-img img{
  &:first-of-type{
    width: 66px;
  }
  &:last-of-type{
    width: 161px;
    margin-left: 15px;
  }
}
.logo-menu{
  position: absolute;
  left: -115px;
  top: 59px;
  cursor: pointer;
}
.line-menu{
  background: $white-color;
  width: 31px;
  height: 4px;
  float: left;
  clear: both;
  margin-right: 25px;
}
.line-menu:last-child{
  margin-top: 0.3em;
}
.min-height{
  min-height: 128px;
  position: relative;
}
.menu-top {
  text-align: center;
  a {
    color: $white-color;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-decoration: none;
    margin: 55px  15px 0 0;
    display: inline-block;
    border-bottom: 6px solid $dark-blue-color;
    //height: 100%;
    &:first-of-type{
      padding-left: 6px;
      img{
        margin-left: 5px;
      }
    }
    &:hover{
      border-bottom: 6px solid $brown-color;
    }
  }
}
.login-btn{
  text-align: center;
  button{
    background: $brown-color;
    border: none;
    border-radius: 2px;
    width: 88px;
    height: 32px;
    color: $white-color;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 51px;
    cursor: pointer;
  }
  a{
    font-size: 14px;
    color: $white-color;
    text-decoration: none;
    position: relative;
    top: 51px;
    padding-left: 30px;
    img{
      margin-left: 7px;
    }
  }
}
.left-menu{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $dark-blue-color;
  z-index: 3;
}
