<div class="row no-gutters numerical-work-place">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">Кількісний:</div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 numerical-word pad-top mar-top">centottanta (180)</div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-numerical">Порядковий:</div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 numerical-word mar-top pad-top-10"><b><i>m.</i></b> centottantesimo (180o)</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 numerical-word mar-top"><b><i>f.</i></b> centottantesima (180a)</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 numerical-word mar-top"><b><i>pl. m.</i></b> centottantesimi (180i)</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 numerical-word mar-top pad-bottom-10"><b><i>pl. f.</i></b> centottantesime (180e)</div>
</div>
