@import "../../../../../../styles-variables";

.about-description{
  font-size: 22px;
  color: #1f476b;
  text-align: center;
  padding: 50px 0;
  width: 74%;
  margin: 0 auto;
  span{
    color: #d9ad64;
  }
}
.author-about{
  color: #1f476b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.author-of-dictionary{
  width: 96%;
  margin: 0 auto;
  border: 3px solid rgba(173, 173, 173, 0.41);
  border-radius: 9px;
  margin-bottom: 20px;
}
.name-author{
  font-size: 20px;
  padding: 20px 20px 5px 20px;
  color: #d9ad64;
  font-weight: bold;
}
.position-author{
  color: #202121;
  font-size: 16px;
  padding: 0 20px;
}
.list-literature{
  color: #1f476b;
  font-size: 16px;
  font-style: italic;
  padding: 0 20px 0 20px;
  margin-bottom: 0;
}

.list-stories{
  list-style-type: none;
  color: #202121;
  font-size: 16px;
}
.language-couple{
  color: #202121;
  font-size: 16px;
  padding-left: 20px;
  span{
    color: #1f476b;
    font-style: italic;
  }
}
