<div class="about-description">
  <span><b>«Kyiv Dictionary» </b></span> – це український багатомовний онлайн-словник.<br>
  Словник укладається в режимі реального часу,
  поточний основний напрямок роботи – пари англійська-українська,
  французька-українська та італійська-українська.
</div>

<p class="author-about">Автори словника:</p>

<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="author-of-dictionary">
    <p class="name-author">Приймак Дмитро Михайлович</p>
    <p class="position-author">Аспірант Київського національного лінгвістичного університету, напрямок - філологія; магістр міжнародної економіки,
      Київський національний економічний університет імені Вадима Гетьмана.</p>

    <p class="list-literature"><b>Список наукових робіт:</b></p>

    <ul class="list-stories">
      <li>  Робота 1 (Журнал 1, випуск 23, 2018)</li>
      <li> Робота 2  (Журнал 2, випуск 2, 2018)</li>
      <li> Робота 3  (Журнал 3, випуск 9, 2018)</li>
    </ul>

    <p class="list-literature"><b>Участь у конференціях: </b></p>

    <ul class="list-stories">
      <li>Тези 1 (Конференція 1, місто, дата)</li>
      <li>Тези 2 (Конференція 2, місто, дата)</li>
    </ul>

    <p class="language-couple"><span><b>Мовні пари у словнику:</b></span> англійська-українська, французька-українська, італійська-українська.</p>
    <p class="language-couple"><span><b>Сфера захоплень: </b></span>переклади медичної термінології; українська лексикографія початку ХХ ст..</p>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="author-of-dictionary">
    <p class="name-author">Приймак Дмитро Михайлович</p>
    <p class="position-author">Аспірант Київського національного лінгвістичного університету, напрямок - філологія; магістр міжнародної економіки, Київський національний економічний університет імені Вадима Гетьмана.</p>

    <p class="list-literature"><b>Список наукових робіт:</b></p>

    <ul class="list-stories">
      <li>  Робота 1 (Журнал 1, випуск 23, 2018)</li>
      <li> Робота 2  (Журнал 2, випуск 2, 2018)</li>
      <li> Робота 3  (Журнал 3, випуск 9, 2018)</li>
    </ul>

    <p class="list-literature"><b>Участь у конференціях: </b></p>

    <ul class="list-stories">
      <li>Тези 1 (Конференція 1, місто, дата)</li>
      <li>Тези 2 (Конференція 2, місто, дата)</li>
    </ul>

    <p class="language-couple"><span><b>Мовні пари у словнику:</b></span> англійська-українська, французька-українська, італійська-українська.</p>
    <p class="language-couple"><span><b>Сфера захоплень: </b></span>переклади медичної термінології; українська лексикографія початку ХХ ст..</p>
  </div>
</div>
