<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Відповіді на кросворди
  </div>
</div>

<div class="row no-gutters translate-block">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 word">
    <label class="end-word">Слово. Використовуйте * для пропущених літер</label><br>
    <input type="text" placeholder="Введіть слово">
  </div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 word">
  <label class="end-word">Мова</label><br>
  <div class="selector-language bottom-width">
    <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
    <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
    <div class="list-of-languages" *ngIf="openSelector">
      <div *ngFor="let language of languages"
           [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
           (click)="defaultLanguage = language; openSelector = !openSelector">
        {{defaultLanguage === language ? '' : language}}</div>
    </div>
  </div>
</div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 translate crossrord-btn">
    <button>Знайти</button>
  </div>
</div>

<div class="row no-gutters main-section">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 word-day">

    <!--  THE WORD OF DAY -->
    <app-word-day></app-word-day>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

    <!-- LAST WORKED OUT WORDS -->
    <app-last-worked></app-last-worked>
  </div>
</div>

<div class="row no-gutters play-section">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 play-block">

    <!-- PLAY WITH US -->
    <app-start-play></app-start-play>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 etymology-main">

    <!-- ETIMOLOGY OF WEEK -->
    <app-week-etymology></app-week-etymology>
  </div>
</div>
