@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";
.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}

.translate-block{
  margin-top: 20px;
}
.translate{
  padding-top: 82px;
}
.main-section{
  margin-top: 40px;
}
.play-section {
  margin-top: 40px;
  margin-bottom: 135px;
}
.word-day{
  height: 304px;
}
.play-block{
  height: 316px;
}
.list-of-languages{
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 47px;
  left: -1px;
  border-left: 1px solid $dark-blue-color;
  border-right: 1px solid $dark-blue-color;
  border-bottom: 1px solid $dark-blue-color;
  background: $white-color;
  box-sizing: content-box;
  div{
    font-size: 14px;
    color: $dark-blue-color;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(18, 45, 75, 0.1);
    }
  }
}
.selector-language{
  span{
    cursor: pointer;
  }
}
