<p class="main-title-dictionary">Ire fortiter quo nemo ante iit</p>
<!-- TOP TRANSLATE BLOCK -->

<app-translate></app-translate>

<div class="row no-gutters main-section">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 word-day">

    <!--  THE WORD OF DAY -->
    <app-word-day></app-word-day>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

    <!-- LAST WORKED OUT WORDS -->
    <app-last-worked></app-last-worked>
  </div>
</div>

<div class="row no-gutters play-section">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 play-block">

    <!-- PLAY WITH US -->
    <app-start-play></app-start-play>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 etymology-main">

    <!-- ETIMOLOGY OF WEEK -->
    <app-week-etymology></app-week-etymology>
  </div>
</div>

