@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";

//@font-face {
//  font-family: 'AnastasiaScript';
//  src: url('./assets/fonts/AnastasiaScript.ttf') format('truetype') /* Safari, Android, iOS */
//}

.main-title-dictionary{
  color: #d64059;
  font-family: 'Great Vibes', cursive;
  font-size: 56px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.main-section{
  margin-top: 40px;
}
.play-section {
  margin-top: 40px;
  margin-bottom: 135px;
}
.word-day{
  height: 304px;
}
.play-block{
  height: 316px;
}
