<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 tabs-section">
         <div class="tab-block about-tabs" [ngStyle]="{'background': selectionTab === 'first' ? '#ffffff' : ''}" (click)="selectTab('first')">Про нас</div><!--
      --><div class="tab-block about-tabs" [ngStyle]="{'background': selectionTab === 'second' ? '#ffffff' : ''}" (click)="selectTab('second')">Overview of the dictionary</div><!--
      --><div class="tab-block about-tabs" [ngStyle]="{'background': selectionTab === 'third' ? '#ffffff' : ''}" (click)="selectTab('third')"> List of Abbreviations</div>
  </div>
</div>

<!-- MAIN ABOUT -->
<div class="row no-gutters description-tabs" *ngIf="selectionTab === 'first'">
  <app-main-about></app-main-about>
</div>

<!-- OVERVIEW DICTIONARY -->
<div class="row no-gutters description-tabs" *ngIf="selectionTab === 'second'">
  <app-overview-dictionary></app-overview-dictionary>
</div>

<!-- LIST OF ABBREVIATIONS -->
<div class="row no-gutters description-tabs" *ngIf="selectionTab === 'third'">
  <app-list-abbreviations></app-list-abbreviations>
</div>
