@import "../../../../../styles-variables";


.description-tabs{
  background: $white-color;
  width: 100%;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.54);
  border-radius: 4px;
  margin-bottom: 100px;
}

.tabs-section{
  margin-top: 20px;
  position: relative;
}
.tab-block{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: bold;
  color: $dark-blue-color;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow:  0 -1px 7px 0 rgba(113, 113, 113, 0.54) //0 -2px 6px -1px rgba(113, 113, 113, 0.36);
}
