<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Слова, що закінчуються на...
  </div>
</div>


<div class="row no-gutters translate-block">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 word">
    <label class="end-word">Починається на</label><br>
    <input type="text" placeholder="Починається на">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 word">
    <label class="end-word">та/або закінчується на</label><br>
    <input type="text" placeholder="та/або закінчується на">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 word">
    <label class="end-word">Мова</label><br>
    <div class="selector-language bottom-width">
      <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
      <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
      <div class="list-of-languages" *ngIf="openSelector">
        <div *ngFor="let language of languages"
             [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
             (click)="defaultLanguage = language; openSelector = !openSelector">
          {{defaultLanguage === language ? '' : language}}</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 translate">
    <button>Знайти</button>
  </div>
</div>


<div class="row no-gutters words-block working-block">
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-word">
    <p>taekwondo</p>
    <p>taekwondo</p>
  </div>
</div>
