<p class="title-block-main">Слово дня</p>

<div class="word-block">
  <img src="assets/images/dog.png">

  <div class="word-component">
    <p>Dog</p>
    <p>/dɑːɡ/</p>
    <p class="language">UK</p>
  </div>
</div>
