@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";

.word-block{
  width: 95%;
  object-fit: contain;
  height: 100%;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
  position: relative;
    .word-component{
      position: absolute;
      width: 30%;
      height: 32%;
      background: rgba(18, 45, 75, 0.8);
      top: 16px;
        p{
          &:first-of-type{
            color: $white-color;
            font-size: 1.8em;
            font-weight: bold;
            font-family: 'Playfair Display';
            margin: 0;
            padding: 0 0 5px 15px;
          }
          &:nth-child(2){
            margin: 0;
            font-size: 14px;
            padding: 0 0 0 15px;
          }
        }
      .language{
        position: absolute;
        font-size: 14px;
        right: 10px;
        top: 6px;
      }
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
}
