@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";


.block-word{
  width: 100%;
  height: 304px;
  border: 3px solid $dark-blue-color;
    .flag{
      display: inline-block;
      vertical-align: top;
      width: 15%;
      text-align: center;
        img{
          margin-top: 18px
        }
    }
    .words{
      display: inline-block;
      vertical-align: top;
      width: 85%;
      color: $dark-blue-color;
      font-size: 14px;
      line-height: 1.43;
      padding: 12px 45px 0 5px;
    }
}
