<p class="title-block-main">Останні опрацьовані слова</p>

<div class="block-word">
     <div class="flag"><img src="assets/images/united-kingdom.png"></div><!--
  --><div class="words">have sth to burn, have sth in common, have sb’s ear,  have sb on toast, have sb on toast</div>

  <div class="flag"><img src="assets/images/france.png"></div><!--
  --><div class="words"> have sth to burn,  have sth in common, have sb’s ear,  have sb on toast, have sb on toast</div>

  <div class="flag"><img src="assets/images/italy.png"></div><!--
  --><div class="words">have sth to burn,  have sth in common, have sb’s ear,  have sb on toast, have sb on toast</div>

  <div class="flag"><img src="assets/images/la.png"></div><!--
  --><div class="words">have sth to burn,  have sth in common, have sb’s ear,  have sb on toast, have sb on toast</div>
</div>
