<p class="title-block-main top-margin-45">Граматика</p>

<div class="row no-gutters">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 country">
    <div class="image-cover"><img  src="assets/images/kyiv-img.png"></div>
    <div class="image">
      <img src="assets/images/ukraine.png">
      <div>Українська</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 country text-align-right">
    <div class="w-97"><img  src="assets/images/italy-img.png"></div>
    <div class="image float-right">
      <img src="assets/images/italy-flag.png">
      <div>Італійська</div>
    </div>
  </div>
</div>


<div class="row no-gutters top-margin-33">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 country">
    <div class="image-cover"><img  src="assets/images/london-img.png"></div>
    <div class="image">
      <img src="assets/images/united-kingdom-flag.png">
      <div>Англійська</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 country text-align-right">
    <div class="w-97"><img  src="assets/images/france-img.png"></div>
    <div class="image float-right">
      <img src="assets/images/france-flag.png">
      <div>Французька</div>
    </div>
  </div>
</div>

