@import "../../../../../styles-variables";
@import "../../../../../style/media-style";
@import "../../../../../style/common-style";

.country{
  //height: 378px;
  width: 100%;
  cursor: pointer;
    .image-cover{
      //height: 300px;
      width: 97%;
          img{
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
    }
  .image{
    height: 78px;
    width: 97%;
    text-align: center;
    line-height: 2.5;
    background: $dark-blue-color;
      img{

      }
      div{
        color :$white-color;
        font-size: 28px;
        font-weight: bold;
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;
      }
  }
}
.top-margin-33{
  margin-top: 33px;
  margin-bottom: 50px;
}
.top-margin-45{
  margin-top: 45px;
}
.float-right{
  float: right;
}
.text-align-right{
  text-align: right;
}
.w-97{
  img{
    width: 97%;
  }
}
