<div class="row no-gutters table-verb">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p class="title-word">chercher</p>
    <p class="description">verbe transitive and intransitive du I groupe se conjugue avec l'auxiliaire avoir</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 tabs-section">
    <div class="tab-block">chercher (v.)</div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 active-section">
    <div class="title-active">
      <span>Активний стан</span>
      <span>|</span>
      <span>Пасивний стан</span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-indicatif">
    <span>Indicatif</span>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 passive-voice">
    <div class="row-table title-table">
       <div class="present">PRÉSENT</div><!--
    --><div class="past">PASSÉ COMPOSÉ</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">je cherche</div><!--
    --><div class="past">tu cherches</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">tu cherches</div><!--
    --><div class="past">tu cherches</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">il/elle/on cherche</div><!--
    --><div class="past">il/elle/on cherche</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">nous cherchons</div><!--
    --><div class="past">nous cherchons</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">vous cherchez</div><!--
    --><div class="past">vous cherchez</div>
    </div>
    <div class="row-table title-table">
      <div class="present">IMPARFAIT</div><!--
    --><div class="past">PLUS-QUE-PARFAIT</div>
    </div>

    <div class="row-table block-row-table">
      <div class="present">je cherchais</div><!--
    --><div class="past">je cherchais</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">tu cherchais</div><!--
    --><div class="past">tu cherchais</div>
    </div>
    <div class="row-table block-row-table">
      <div class="present">il/elle/on cherchait</div><!--
    --><div class="past">il/elle/on cherchait</div>
    </div>
  </div>

</div>


