@import "../../../../../../styles-variables";
@import "../../../../../../style/media-style";
@import "../../../../../../style/common-style";

.title-word{
  font-size: 24px;
  font-weight: 900;
  color: $dark-blue-color;
}
.description{
  font-size: 14px;
  color: $dark-blue-color;
}
.tabs-section{
  text-align: right;
  margin-top: 20px;
  position: relative;
  .tab-block{
    position: absolute;
    right: 0;
    bottoM: 0;
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    color: $dark-blue-color;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    box-shadow: 0 -2px 6px -1px rgba(113, 113, 113, 0.36);
    background: $white-color;
  }
}

.active-section {
  background: $white-color;
  padding: 15px;
  box-shadow: 0 0 7px 0 rgba(113, 113, 113, 0.36);
  .title-active {
    color: $dark-blue-color;
    font-size: 18px;
    span {
      &:nth-child(2) {
        padding: 0 15px;
      }
      &:nth-child(3){
        font-weight: bold;
      }
    }
  }
}
.section-indicatif{
  background: rgba(219, 87, 109, 0.79);;
  text-align: center;
  font-size: 18px;
  color: $white-color;
  font-weight: bold;
  text-transform: uppercase;
  height: 49px;
  line-height: 2.75;
}
.passive-voice{
  box-shadow: 0 0 7px 0 rgba(113, 113, 113, 0.36);
  .row-table{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 49px;
    line-height: 2.75;
    font-weight: bold;
      .present {
        width: 50%;
        display: inline-block;
      }
      .past {
        width: 50%;
        display: inline-block;
      }
  }
  .block-row-table{
    &:nth-child(odd) {
      background: $white-color;
    }
    &:nth-child(even) {
      background-color: #d8d8d8;
    }
  }
}
.title-table{
  background: $dark-blue-color;
  color:$white-color;
  font-weight: bold;
  font-size: 18px;
}
.block-row-table{
  color: $dark-blue-color;
  font-size: 18px;
  text-transform: none!important;
  text-align: center;
  height: 49px;
  line-height: 2.75;
}
