$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$dark-blue-color: #122d4b;
$white-color: #ffffff;
$brown-color: #e4bd7d;
$light-red-color: #db576d;
$table-text-color: #202121;

%full-width-height{
  width: 100%;
  height: 100%;
}
