/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import "./style/media-style";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';



html {
  @extend %full-width-height;
}
body {
  margin: 0;
  padding: 0;
  @extend %full-width-height;
}
.container-fluid {
  padding: 0!important;
  @extend %full-width-height;
}
.container{
  padding: 0!important;
}

.row-main-section{
  width: 1110px;
  margin: 0 auto;
  height: 100%;
  color: $white-color;
}
