@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";
.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
  padding: 0;
}
.call-us{
  font-size: 16px;
  color: $dark-blue-color;
  text-align: right;
  margin-top: 40px;
}
.work-vacancies-block{
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(113, 113, 113, 0.54);
  width: 98%;
  background: $white-color;
  margin-top: 20px;
}
.vacancies-title{
  font-size: 24px;
  font-weight: bold;
  color: $brown-color;
  background-color: rgba(173, 173, 173, 0.2);
  min-height: 60px;
  line-height: 2.5;
  padding: 0 20px;
}
.requirement{
  font-size: 16px;
  color: $dark-blue-color;
}
.description-vacancies{
  //margin: 5px 0;
  padding: 0 20px;
}

.padding-top{
  padding: 10px 20px 0 20px;
}

.right-side{
 float:right;
}
.left-side{
  float: left;
}
