<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 title-block">
    Відкриті вакансії
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 call-us">
    Зацікавили наші пропозиції? Звертайтесь: <b> contact@yenotes.com</b>
  </div>
</div>


<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="work-vacancies-block left-side">
      <div class="vacancies-title">Перекладач англійської мови</div>
      <p class="requirement padding-top"><b>Основні вимоги:</b></p>

      <p class="description-vacancies requirement">
        Вільне володіння англійською мовою, вміння знаходити необхідну інформацію, чітко викладати свої думки і слідувати вимогам замовника.
      </p>

      <p class="requirement padding-top"><b>Умови:</b></p>

      <p class="description-vacancies requirement">
        Щомісячна заробітна плата від обсягу роботи та бонуси для кращих письменників, навчання та підтримка
      </p>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="work-vacancies-block right-side">
      <div class="vacancies-title">Перекладач англійської мови</div>

      <p class="requirement padding-top"><b>Основні вимоги:</b></p>

      <p class="description-vacancies requirement">
        Вільне володіння англійською мовою, вміння знаходити необхідну інформацію, чітко викладати свої думки і слідувати вимогам замовника.
      </p>

      <p class="requirement padding-top"><b>Умови:</b></p>

      <p class="description-vacancies requirement">
        Щомісячна заробітна плата від обсягу роботи та бонуси для кращих письменників, навчання та підтримка
      </p>
    </div>
  </div>
</div>
