<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-block">
    Currency Converter
  </div>
</div>


<div class="row no-gutters translate-block">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 word">
    <label class="end-word">Ціле число або дріб</label><br>
    <input type="text" placeholder="Починається на">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 word">
    <label class="end-word">Currency</label><br>
    <div class="selector-language bottom-width currency-input">
      <span>ліванський фунт (LBT)</span>
      <img src="assets/images/down-arrow_blue.png">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 word">
    <label class="end-word">Мова</label><br>
    <div class="selector-language bottom-width currency-input">
      <span (click)="openSelector=!openSelector">{{defaultLanguage}}</span>
      <img [ngStyle]="{'transform': openSelector ? 'rotate(180deg)' : ''}" src="assets/images/down-arrow_blue.png" (click)="openSelector=!openSelector">
      <div class="list-of-languages" *ngIf="openSelector">
        <div *ngFor="let language of languages"
             [ngStyle]="{'padding': defaultLanguage === language  ? '0 15px' : ''}"
             (click)="defaultLanguage = language; openSelector = !openSelector">
          {{defaultLanguage === language ? '' : language}}</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 translate margin-null">
    <button>Знайти</button>
  </div>
</div>

<div class="row no-gutters words-block currency-work-block">
  <p>Some text</p>
  <p>Some text small</p>
</div>
