@import "../../../../../styles-variables";
@import "./../../../../../style/media-style";
@import "../../../../../style/common-style";


.translate-block{
  margin-top: 20px!important;
}

.title-block{
  color: $dark-blue-color;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}
.margin-null{
  padding-top: 80px!important;
  margin-left: 0!important;
  text-align: center;
}
.currency-input{
  width: 100%;
}


.words-block {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 rgba(18, 45, 75, 0.42);
  background: $white-color;
  margin-top: 30px;
  padding: 10px 25px 10px 25px;
    P{
      &:first-of-type{
        font-size: 26px;
        font-weight: 500;
        color: $dark-blue-color;
        width: 100%;
      }
      &:last-of-type{
      font-size: 18px;
        color: $dark-blue-color
      }
    }
}
.currency-work-block{
    margin-bottom: 50px;
}
.list-of-languages{
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 47px;
  left: -1px;
  border-left: 1px solid $dark-blue-color;
  border-right: 1px solid $dark-blue-color;
  border-bottom: 1px solid $dark-blue-color;
  background: $white-color;
  box-sizing: content-box;
  div{
    font-size: 14px;
    color: $dark-blue-color;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(18, 45, 75, 0.1);
    }
  }
}
.selector-language{
  span{
    cursor: pointer;
  }
}
